<a href="https://colab.research.google.com/github/Whiteomi/Hola_Mundo/blob/main/1_Extracci%C3%B3n_Datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Importamos librerias requeridad 
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as  plt
import seaborn as sns
import io

In [ ]:
#Cargar archivo csv desde seaborn
from google.colab import files 
files.upload()

In [38]:
#Convertir en dataframe 
df= pd.read_csv("file.csv")
df

,Periodo,Trimestre,Entidad_Federativa,Sexo,Poblacion_ocupada_en_la_industria_manufacturera,Poblaci n_ocupada,Tasa_de_ocupaci n_en_la_industria_manufacturera
0,2005,1,Nacional,Hombres,4384907,26597801,16.485975660000000000000
1,2005,1,Nacional,Mujeres,2690296,14843275,18.124679360000000000000
2,2005,1,Aguascalientes,Hombres,56407,246177,22.913188480000000000000
3,2005,1,Aguascalientes,Mujeres,28430,145656,19.518591750000000000000
4,2005,1,Baja California,Hombres,167651,768989,21.801482210000000000000
...,...,...,...,...,...,...,...
4549,2022,1,Veracruz,Mujeres,107640,1190733,9.0398099320000000000000
4550,2022,1,Yucat n,Hombres,101992,691397,14.751582670000000000000
4551,2022,1,Yucat n,Mujeres,82759,478943,17.279509250000000000000
4552,2022,1,Zacatecas,Hombres,44105,402326,10.962503040000000000000
4553,2022,1,Zacatecas,Mujeres,39472,255761,15.43315830000000000000

In [8]:
#Imprimimos las primras filas o registros del Dataframe 
df.head(5)

,Periodo,Trimestre,Entidad_Federativa,Sexo,Poblacion_ocupada_en_la_industria_manufacturera,Poblaci n_ocupada,Tasa_de_ocupaci n_en_la_industria_manufacturera
0,2005,1,Nacional,Hombres,4384907,26597801,16.485975660000000000000
1,2005,1,Nacional,Mujeres,2690296,14843275,18.124679360000000000000
2,2005,1,Aguascalientes,Hombres,56407,246177,22.913188480000000000000
3,2005,1,Aguascalientes,Mujeres,28430,145656,19.518591750000000000000
4,2005,1,Baja California,Hombres,167651,768989,21.801482210000000000000

In [7]:
#Filtro por objeto 
filtro1=df[df["Sexo"] =="Mujeres"]
filtro1

,Periodo,Trimestre,Entidad_Federativa,Sexo,Poblacion_ocupada_en_la_industria_manufacturera,Poblaci n_ocupada,Tasa_de_ocupaci n_en_la_industria_manufacturera
1,2005,1,Nacional,Mujeres,2690296,14843275,18.124679360000000000000
3,2005,1,Aguascalientes,Mujeres,28430,145656,19.518591750000000000000
5,2005,1,Baja California,Mujeres,103697,398911,25.995021450000000000000
7,2005,1,Baja California Sur,Mujeres,4103,75648,5.4238049920000000000000
9,2005,1,Campeche,Mujeres,17935,110090,16.291216280000000000000
...,...,...,...,...,...,...,...
4545,2022,1,Tamaulipas,Mujeres,148943,624871,23.835799710000000000000
4547,2022,1,Tlaxcala,Mujeres,63801,241052,26.46773310000000000000
4549,2022,1,Veracruz,Mujeres,107640,1190733,9.0398099320000000000000
4551,2022,1,Yucat n,Mujeres,82759,478943,17.279509250000000000000
4553,2022,1,Zacatecas,Mujeres,39472,255761,15.43315830000000000000

In [11]:
#Filtro por filas 
filtro2= df.iloc[0:99,: ]
#filtro2=df.iloc[[1000, 2000, 3000], :] #filas no consecutivas 
filtro2

,Periodo,Trimestre,Entidad_Federativa,Sexo,Poblacion_ocupada_en_la_industria_manufacturera,Poblaci n_ocupada,Tasa_de_ocupaci n_en_la_industria_manufacturera
0,2005,1,Nacional,Hombres,4384907,26597801,16.485975660000000000000
1,2005,1,Nacional,Mujeres,2690296,14843275,18.124679360000000000000
2,2005,1,Aguascalientes,Hombres,56407,246177,22.913188480000000000000
3,2005,1,Aguascalientes,Mujeres,28430,145656,19.518591750000000000000
4,2005,1,Baja California,Hombres,167651,768989,21.801482210000000000000
...,...,...,...,...,...,...,...
94,2005,2,Jalisco,Hombres,341041,1741816,19.579622650000000000000
95,2005,2,Jalisco,Mujeres,209698,1083908,19.34647590000000000000
96,2005,2,M xico,Hombres,693433,3503229,19.794109950000000000000
97,2005,2,M xico,Mujeres,362438,1907713,18.998560060000000000000
98,2005,2,Michoac n,Hombres,137251,971632,14.12582130000000000000

In [14]:
#Filtro por columnas 
#filtro3=df.iloc[ : , 4:6]
filtro3=df.iloc[ : , [1,4,6]] #columnas no consecutivas 
filtro3

,Trimestre,Poblacion_ocupada_en_la_industria_manufacturera,Tasa_de_ocupaci n_en_la_industria_manufacturera
0,1,4384907,16.485975660000000000000
1,1,2690296,18.124679360000000000000
2,1,56407,22.913188480000000000000
3,1,28430,19.518591750000000000000
4,1,167651,21.801482210000000000000
...,...,...,...
4549,1,107640,9.0398099320000000000000
4550,1,101992,14.751582670000000000000
4551,1,82759,17.279509250000000000000
4552,1,44105,10.962503040000000000000
4553,1,39472,15.43315830000000000000

In [23]:
#Filtro por columnas y por filas 
filtro_mix=df.iloc[ [10,20,50] , 2:5]
#filtro3=df.iloc[ : , [1,4,6]] #columnas no consecutivas 
filtro_mix

,Sexo,Poblacion_ocupada_en_la_industria_manufacturera,Poblaci n_ocupada
Entidad_Federativa,,,
Coahuila,Hombres,171196,636756
Durango,Hombres,65926,378399
Sinaloa,Hombres,77990,749476

In [19]:
#Filtro de filas vs columnas 
#Paso 1: Leemos el contenido del archivo 
from google.colab import files 
uploaded=files.upload()
df = pd.read_csv(io.BytesIO(uploaded['file.csv']),index_col=2)
df

Saving file.csv to file (1).csv

,Periodo,Trimestre,Sexo,Poblacion_ocupada_en_la_industria_manufacturera,Poblaci n_ocupada,Tasa_de_ocupaci n_en_la_industria_manufacturera
Entidad_Federativa,,,,,,
Nacional,2005,1,Hombres,4384907,26597801,16.485975660000000000000
Nacional,2005,1,Mujeres,2690296,14843275,18.124679360000000000000
Aguascalientes,2005,1,Hombres,56407,246177,22.913188480000000000000
Aguascalientes,2005,1,Mujeres,28430,145656,19.518591750000000000000
Baja California,2005,1,Hombres,167651,768989,21.801482210000000000000
...,...,...,...,...,...,...
Veracruz,2022,1,Mujeres,107640,1190733,9.0398099320000000000000
Yucat n,2022,1,Hombres,101992,691397,14.751582670000000000000
Yucat n,2022,1,Mujeres,82759,478943,17.279509250000000000000
Zacatecas,2022,1,Hombres,44105,402326,10.962503040000000000000
Zacatecas,2022,1,Mujeres,39472,255761,15.43315830000000000000

In [26]:
#Paso 2: Aplicamos filtro de filas vs columnas 
filtro4=df.loc[["Puebla","Oaxaca","Veracruz","Guerrero"], ["Poblacion_ocupada_en_la_industria_manufacturera"]]
filtro4

                   Poblacion_ocupada_en_la_industria_manufacturera
Entidad_Federativa
Puebla                                                      230487
Puebla                                                      188720
Puebla                                                      236459
Puebla                                                      190831
Puebla                                                      233484
...                                                            ...
Guerrero                                                     91799
Guerrero                                                     59920
Guerrero                                                     70838
Guerrero                                                     65484
Guerrero                                                     70182

[552 rows x 1 columns]

In [27]:
#Filtro por cabecera 
filtro5=df.head()
filtro5

,Periodo,Trimestre,Sexo,Poblacion_ocupada_en_la_industria_manufacturera,Poblaci n_ocupada,Tasa_de_ocupaci n_en_la_industria_manufacturera
Entidad_Federativa,,,,,,
Nacional,2005,1,Hombres,4384907,26597801,16.485975660000000000000
Nacional,2005,1,Mujeres,2690296,14843275,18.124679360000000000000
Aguascalientes,2005,1,Hombres,56407,246177,22.913188480000000000000
Aguascalientes,2005,1,Mujeres,28430,145656,19.518591750000000000000
Baja California,2005,1,Hombres,167651,768989,21.801482210000000000000

In [33]:
#Filtro por comparacion 
filtro6=df[df["Periodo"] >= 2010]
filtro6

,Periodo,Trimestre,Sexo,Poblacion_ocupada_en_la_industria_manufacturera,Poblaci n_ocupada,Tasa_de_ocupaci n_en_la_industria_manufacturera
Entidad_Federativa,,,,,,
Nacional,2010,1,Hombres,4477317,28421331,15.753368480000000000000
Nacional,2010,1,Mujeres,2580136,17103008,15.085860920000000000000
Aguascalientes,2010,1,Hombres,58931,274223,21.490174060000000000000
Aguascalientes,2010,1,Mujeres,30999,173151,17.90287090000000000000
Baja California,2010,1,Hombres,141575,820298,17.258971740000000000000
...,...,...,...,...,...,...
Veracruz,2022,1,Mujeres,107640,1190733,9.0398099320000000000000
Yucat n,2022,1,Hombres,101992,691397,14.751582670000000000000
Yucat n,2022,1,Mujeres,82759,478943,17.279509250000000000000
Zacatecas,2022,1,Hombres,44105,402326,10.962503040000000000000
Zacatecas,2022,1,Mujeres,39472,255761,15.43315830000000000000

In [39]:
#Filtro Y 
filtro7=df[(df["Periodo"] == 2015) & (df["Sexo"] =="Hombres") & (df["Entidad_Federativa"] == "Puebla"	)]
filtro7

,Periodo,Trimestre,Entidad_Federativa,Sexo,Poblacion_ocupada_en_la_industria_manufacturera,Poblaci n_ocupada,Tasa_de_ocupaci n_en_la_industria_manufacturera
2682,2015,1,Puebla,Hombres,213571,1549409,13.784029910000000000000
2748,2015,2,Puebla,Hombres,209708,1602273,13.088156640000000000000
2814,2015,3,Puebla,Hombres,231235,1559704,14.825569470000000000000
2880,2015,4,Puebla,Hombres,228012,1619413,14.079916610000000000000